<header>
  <div class="logo">
    <img class="logo_img" src="../../../assets/ua_logo.svg" alt="ua" /> Currency
    Converter
  </div>
  <div class="currency">
    <div class="currency_usd">
      <img
        class="usa_flag"
        src="https://upload.wikimedia.org/wikipedia/commons/0/01/Flag_of_the_United_States_%281818-1819%29.svg"
        alt="usa"
      />USD: 25/28
    </div>
    <div class="currency_eur">
      <img
        class="eu_flag"
        src="https://upload.wikimedia.org/wikipedia/commons/b/b7/Flag_of_Europe.svg"
        alt="eu"
      />EUR: 38/40
    </div>
  </div>
</header>
